<div class="container-fluid welcome-poster">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center welcome-poster-logo">GIANT LOGO</h1>
        </div>
        <div class="col-md-6 slideshow">
            <div id="slide_1">
                <h2 class="text-center main-heading">Welcome to the Arbers Paradise.</h2>
                <h3 class="justify main-heading">A place where you can learn how to consistently make a profit with online sports betting.</h3>
                <p class="justify main-cta">Become a member today, to receive instant access to our wide selection of exclussive video tutorials aimed at all levels of "arbers", from beginer to expert. The videos will show you exactly how to do sports arbitrage and give you detailed instructions on how to maximize your profit and manage your "bankroll".</p>
                <button class="btn btn-success center-block">Become a member</button>
            </div>
            <div id="slide_2">
                <h2 class="text-center main-heading">I know words. I have the best words. You’re disgusting.</h2>
                <h3 class="justify main-heading">An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud. That other text? Sadly, it’s no longer a 10.</h3>
                <p class="justify main-cta">We are going to make placeholder text great again. Greater than ever before. We have so many things that we have to do better... and certainly ipsum is one of them. I’m the best thing that ever happened to placeholder text. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
            </div>
            <div id="slide_3">
                <h2 class="text-center main-heading">I know words. I have the best words. You’re disgusting.</h2>
                <h3 class="justify main-heading">We have so many things that we have to do better... and certainly ipsum is one of them. I think the only card she has is the Lorem card. I have a 10 year old son. He has words. He is so good with these words it's unbelievable.</h3>
                <p class="justify main-cta">I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Lorem Ipsum is the single greatest threat. We are not - we are not keeping up with other websites. I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h2>News about bookies, arbing, betting and sports in general.</h2>
        </div>
        <div class="col-md-3">
            <h2>Place for banners</h2>
        </div>
    </div>
</div>


