<div class="container-fluid welcome-poster">
    <div class="col-md-5">
        <h1 class="text-center welcome-poster-logo">GIANT LOGO</h1>
    </div>
    <div class="col-md-7">
        <h2 class="text-center main-heading">Welcome to the Arbers Paradise. A place where you can learn how to consistently make a profit with online sports betting.</h2>
        <p class="text-center main-cta">Become a member today, to receive instant access to our wide selection of exclussive video tutorials aimed at all levels of "arbers", from beginer to expert. The videos will show you exactly how to do sports arbitrage and give you detailed instructions on how to maximize your profit and manage your "bankroll".</p>
        <button class="btn btn-success center-block">Become a member</button>
        <p class="text-center sub-cta">Don't know what sports arbitrage even is? Take a look at our selection of free basic tutorials that will explain the basics and get you started.</p>
    </div>
</div>

